.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}

.imageContainer {
  margin-top: 100px;
  height: 400px;  
}

.imageContainer img {
  height: 100%;
  object-fit: cover;
}
